html #login h1 a, .login h1 a {
    background-size: contain;
    height: 75px;
    width: 320px;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}
html #login {
    padding-top: 0 !important;
    width: 380px !important;
}
.login{
    height: 100%;
    background: #fff;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
}
html .login #login_error {
    border-radius: 8px;
    border: 1px solid #eee;
    border-left-color: #d63638;
    border-left-width: 4px;
    color: #333;
    font-size: 16px;
    margin-bottom: 40px;
}
html .login #lostpasswordform {
    margin-bottom: 50px;
    margin-top: 30px;
}

html .login #lostpasswordform #wp-submit {
    width: 100% !important;
}
html .login .privacy-policy-page-link {
    display: none;
}
html *:focus {
    outline: none;
}
html .login .message {
    border: none;
    box-shadow:rgba(0, 0, 0, 0.05) 0px 0px 20px 0px;
    border-radius: 0;
    padding: 0;
    font-size: 16px;
    box-shadow: none;
    background: none;
}
html .login form {
    border: none;
    box-shadow:rgba(0, 0, 0, 0.05) 0px 0px 20px 0px;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    background: none;
}
html .login form input {
    background-color: #fff !important;
    border-width: 1px !important;
    padding: 12px 16px !important;
    font-size: 16px !important;
    border-color: #e5ecff !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
}
html .login form input:focus{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
}
html .login form .button-primary {
    border-radius: 15px !important;
    font-size: 16px !important;
    padding: 5px 40px !important;
    letter-spacing: 0.4px;
    border: none !important;
}
html .login .forgetmenot{
    margin-top: 11px;
}
html .login #rememberme {
    padding: 13px !important;
}
html .login #rememberme::before {
    margin: -10px;
}
#nav {
    text-align: center;
}
#nav a {
    font-size: 15px !important;
}
#backtoblog a{
    color: #f7f7f7 !important;
    display: none !important;
}
#backtoblog a:hover{
    color: #ddd !important;
}
.custom-login-message{
    color: #f7f7f7 !important;
}
.custom-login-message a{
    color: #f7f7f7 !important;
    text-decoration: none;
}
.custom-login-message a:hover{
    color: #ddd !important;
}

.login.wp-core-ui .language-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
}

.login.wp-core-ui #language-switcher {
    display: flex;
    flex-direction: column;
}
.login.wp-core-ui #language-switcher #language-switcher-locales {
    margin-bottom: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    width: 100%;
}
.login.wp-core-ui #language-switcher .button {
    padding: 0 !important;
}
.login.wp-core-ui #language-switcher .dashicons-translation {
    display: none !important;
}
